@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  line-height: 1;
  list-style: none;
}

h2 {
  font-family: 'Overpass', sans-serif;
  font-size: 1.75rem;
  line-height: 2.125rem;
  font-weight: 500;
  text-align: center;
  color: #1f3f5b;
}

p {
  font-family: 'Overpass', sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  color: #4b5862;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
}

.hamburger .bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 0.375rem 0;
  transition: 0.5s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.btn {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem 1rem 1.375rem 1rem;
  min-width: 8.5625rem;
  border-radius: 28px;
  cursor: pointer;
  transition: 0.75s;
}

.btn--light {
  background-color: white;
  color: #B3000C;
}

.btn--light:hover {
  background-color: #ff7a85;
  color: white;
}

.btn--light:focus {
  outline: none;
  background-color: #ff7a85;
  color: white;
}

.btn--dark {
  border: 1px solid white;
  background: transparent;
  color: white;
}

.btn--dark:hover {
  background: white;
  color: #B3000C;
}

.btn--dark:focus {
  outline: none;
  background: white;
  color: #B3000C;
}

.btn--login {
  border: 1px solid white;
  background: linear-gradient(148deg, #FF8F71 0%, #FF3E55 100%);
  color: white;
}

.btn--login:hover {
  background: white;
  color: #B3000C;
  border: 2px solid #ff7a85;
}

.btn--login:focus {
  outline: none;
  background: white;
  color: #B3000C;
}

nav {
  padding: 3.5rem 1.5rem;
  color: white;
  background: transparent;
}

nav .logo {
  height: 2.46437rem;
}

@media screen and (min-width: 800px) {
  nav .logo {
    margin-right: 4.02375rem;
  }
}

@media screen and (min-width: 800px) {
  nav {
    display: flex;
    align-items: center;
    padding: 3.625rem 3.625rem;
  }
  nav .hamburger {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    padding: 3.9375rem 10.4375rem;
  }
}

@media screen and (min-width: 1600px) {
  nav {
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto;
  }
}

nav .top {
  display: flex;
  justify-content: space-between;
}

nav .menu {
  display: none;
  position: absolute;
  width: 87.2%;
  margin-top: 2.3125rem;
  padding-bottom: 2rem;
  text-align: center;
  background: white;
  box-shadow: 0px 20px 40px #0000003E;
  border-radius: 5px;
}

@media screen and (min-width: 800px) {
  nav .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    background: transparent;
    box-shadow: none;
  }
  nav .menu .section-container {
    display: flex;
  }
}

nav .menu h2 {
  font-family: 'Overpass', sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  display: inline;
  color: #1F3E5A;
  margin: auto;
  margin-bottom: 2.125rem;
  cursor: pointer;
}

nav .menu h2 .light-arrow {
  display: none;
}

@media screen and (min-width: 800px) {
  nav .menu h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    line-height: 1.125rem;
    font-weight: 700;
    color: white;
    margin: 0;
  }
  nav .menu h2:hover {
    text-decoration: underline;
  }
  nav .menu h2 .dark-arrow {
    display: none;
  }
  nav .menu h2 .light-arrow {
    display: inline;
  }
}

nav .menu .one {
  margin-top: 1.5rem;
}

@media screen and (min-width: 800px) {
  nav .menu .one {
    margin-top: 0;
  }
}

nav .menu .login {
  margin-top: 1.5rem;
  border-top: 1px solid #E8E4E4;
}

nav .menu .login a {
  font-family: 'Overpass', sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #1F3E5A;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 2.125rem;
}

nav .menu .login button {
  display: block;
  margin: auto;
}

@media screen and (min-width: 800px) {
  nav .menu .login {
    margin: 0;
    border: none;
    display: flex;
    align-items: center;
  }
  nav .menu .login a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 700;
    color: white;
    margin: 0;
    margin-right: 2rem;
  }
}

nav img {
  margin-bottom: -0.25rem;
  margin-left: 0.625rem;
}

@media screen and (min-width: 800px) {
  nav img {
    margin-left: 0.125rem;
    margin-right: 1.125rem;
  }
}

@media screen and (min-width: 1200px) {
  nav img {
    margin-left: 0.5rem;
    margin-right: 2rem;
  }
}

nav ul {
  display: none;
  max-width: 17.25rem;
  margin: auto;
  margin-top: 2.125rem;
  background-color: #EFEFF0;
  border-radius: 5px;
  padding-top: 1.0625rem;
  padding-bottom: 2.3125rem;
}

nav ul a {
  font-family: 'Overpass', sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #4b5862;
  opacity: 0.75;
}

@media screen and (min-width: 800px) {
  nav ul {
    width: 10.5rem;
    position: absolute;
    background-color: white;
    box-shadow: 0px 20px 40px #0000003E;
    text-align: center;
  }
  nav ul a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9375rem;
    line-height: 2.0625rem;
    font-weight: 400;
    color: #2D2E40;
    opacity: 1;
  }
  nav ul a:hover {
    font-weight: 700;
  }
}

nav .active {
  display: block;
}

nav .show img {
  display: inline;
  transform: rotate(180deg);
}

nav .show ul {
  display: block;
}

header {
  padding-bottom: 9.75rem;
  background: url("../images/bg-pattern-intro.svg"), linear-gradient(148deg, #FF8F71 0%, #FF3E55 100%);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px 0px 0px 100px;
}

@media screen and (min-width: 800px) {
  header {
    border-radius: 0;
  }
}

header h1 {
  font-family: 'Overpass', sans-serif;
  font-size: 2.25rem;
  line-height: 2.6875rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1.08px;
  color: white;
}

@media screen and (min-width: 800px) {
  header h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 3.25rem;
    line-height: 4rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 1200px) {
  header h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 4rem;
    line-height: 4.8125rem;
    font-weight: 500;
    letter-spacing: -1.92px;
  }
}

header p {
  font-family: 'Overpass', sans-serif;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1.6875rem;
  color: white;
}

@media screen and (min-width: 800px) {
  header p {
    font-family: 'Overpass', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-top: 2rem;
  }
}

header .button-container {
  margin-top: 3.375rem;
  text-align: center;
}

header .button-container button {
  margin-right: 2rem;
}

@media screen and (min-width: 800px) {
  header .button-container button {
    margin-right: 1rem;
  }
}

footer {
  background-color: #25252d;
  border-radius: 0 100px 0 0;
  text-align: center;
  padding-top: 4.6875rem;
  padding-bottom: 4.6875rem;
}

@media screen and (min-width: 800px) {
  footer {
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 4.375rem;
    padding-left: 8.5rem;
    padding-bottom: 4.375rem;
  }
}

@media screen and (min-width: 1200px) {
  footer {
    grid-template-columns: auto auto auto auto;
  }
}

footer h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125rem;
  line-height: 2.0625rem;
  font-weight: 500;
  color: white;
}

@media screen and (min-width: 800px) {
  footer h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9375rem;
    line-height: 2.0625rem;
    font-weight: 500;
    text-align: left;
  }
}

footer ul {
  margin-top: 2.125rem;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 800px) {
  footer ul {
    margin-top: 2.4375rem;
  }
}

footer a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125rem;
  line-height: 2.0625rem;
  font-weight: 400;
  color: white;
  opacity: 0.75;
}

@media screen and (min-width: 800px) {
  footer a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9375rem;
    line-height: 2.0625rem;
    font-weight: 400;
  }
}

footer .one {
  margin-top: 4.54688rem;
}

@media screen and (min-width: 800px) {
  footer .one {
    margin-top: 0;
  }
}

@media screen and (min-width: 1600px) {
  .grid1 {
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto;
  }
}

.grid1 .first {
  grid-area: first;
}

.grid1 .second {
  grid-area: second;
}

.grid1 .third {
  grid-area: third;
}

.grid1 .lrg-img-container {
  grid-area: img;
}

@media screen and (min-width: 1200px) {
  .grid1 {
    display: grid;
    grid-template-areas: 'first first' 'second img'  'third img' 'x img';
    column-gap: 2.5625rem;
    row-gap: 0;
    padding-left: 10.3125rem;
  }
}

.grid2 .deskto-img {
  grid-area: image;
}

.grid2 .fifth {
  grid-area: one;
}

.grid2 .sixth {
  grid-area: two;
}

@media screen and (min-width: 1200px) {
  .grid2 {
    display: grid;
    grid-template-areas: "image  one" "image two";
  }
}

.first {
  margin-top: 6.25rem;
}

@media screen and (min-width: 800px) {
  .first {
    margin-top: 9.375rem;
  }
}

.first h2 {
  letter-spacing: -0.84px;
}

@media screen and (min-width: 800px) {
  .first h2 {
    font-family: 'Overpass', sans-serif;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 500;
    letter-spacing: -1.2px;
  }
}

@media screen and (min-width: 1200px) {
  .first h2 {
    margin-bottom: 7.125rem;
  }
}

.first .img-container {
  width: 20.375rem;
  height: 20.375rem;
  margin: 3.3125rem auto 2.875rem auto;
  background-image: url("../images/illustration-editor-mobile.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 800px) {
  .first .img-container {
    width: 480px;
    height: 480px;
  }
}

@media screen and (min-width: 1200px) {
  .first .img-container {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .lrg-img-container {
    width: 55rem;
    height: 55.125rem;
    background-image: url("../images/illustration-editor-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -7.125rem;
    margin-right: -17.1875rem;
  }
}

@media screen and (min-width: 1200px) {
  .second h2 {
    font-family: 'Overpass', sans-serif;
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 500;
    margin-top: 7.125rem;
    text-align: left;
  }
}

.second p {
  margin: 1rem 1.5rem 2.5rem 2.0625rem;
}

@media screen and (min-width: 1200px) {
  .second p {
    text-align: left;
    margin: 1rem 0 0 0;
  }
}

.third h2 {
  max-width: 19.875rem;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .third h2 {
    font-family: 'Overpass', sans-serif;
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 500;
    max-width: 100%;
    margin-top: 4rem;
    text-align: left;
  }
}

.third p {
  margin: 1rem 1.5rem 6.2775rem 2.0625rem;
}

@media screen and (min-width: 1200px) {
  .third p {
    text-align: left;
    margin: 1rem 0 0 0;
  }
}

.fourth .img-container {
  position: relative;
  width: 20.4025rem;
  height: 21.57812rem;
  margin-bottom: -10.78937rem;
  background-color: transparent;
  background: url("../images/illustration-phones.svg");
  background-size: cover;
  background-position: center;
  z-index: 5;
}

@media screen and (min-width: 1200px) {
  .fourth .img-container {
    margin-bottom: -31.25rem;
    margin-left: 6.25rem;
    width: 29.6875rem;
    height: 35.9375rem;
  }
}

.fourth .content-container {
  padding-top: 13.8125rem;
  padding-bottom: 6.8125rem;
  background: linear-gradient(149deg, #2c2d3f, #3f4164);
  border-radius: 0px 100px;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .fourth .content-container {
    padding-top: 6.9375rem;
    padding-bottom: 6.9375rem;
  }
}

.fourth .content-container h2 {
  font-family: 'Overpass', sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 500;
  letter-spacing: -1.2px;
  color: white;
}

@media screen and (min-width: 1200px) {
  .fourth .content-container h2 {
    text-align: left;
    margin-left: 50%;
  }
}

.fourth .content-container p {
  margin: 1.75rem 1.5rem 0 2.0625rem;
  color: white;
}

@media screen and (min-width: 1200px) {
  .fourth .content-container p {
    text-align: left;
    margin: 0;
    margin-left: 50%;
    max-width: 33.125rem;
  }
}

.fourth .content-container::after {
  content: "";
  position: relative;
  margin-top: -32.0625rem;
  width: 100%;
  height: 37.625rem;
  display: inline-block;
  position: relative;
  background: url("../images/bg-pattern-circles.svg"), transparent;
  background-size: cover;
  background-position: center -18.875rem;
  background-repeat: no-repeat;
}

@media screen and (min-width: 800px) {
  .fourth .content-container::after {
    background-position: center -35.9375rem;
  }
}

@media screen and (min-width: 1200px) {
  .fourth .content-container::after {
    background-position: -15.625rem -25rem;
    background-size: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .desktop-img {
    display: inline;
    border: 2px solid green;
    width: 49.125rem;
    height: 49.125rem;
    background-image: url("../../images/illustration-laptop-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.fifth .img-container {
  width: 20.375rem;
  height: 20.375rem;
  margin: 4.9375rem auto 2.875rem auto;
  background-image: url("../images/illustration-laptop-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
  .fifth .img-container {
    display: none;
  }
}

.fifth p {
  margin: 1rem 1.5rem 2.5rem 2.0625rem;
}

@media screen and (min-width: 1200px) {
  .fifth p {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .fifth {
    border: 2px solid red;
  }
}

.sixth p {
  margin: 1rem 1.5rem 6.25rem 2.0625rem;
}

@media screen and (min-width: 1200px) {
  .sixth {
    border: 2px solid blue;
  }
}

.page-container {
  width: 100vw;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */