@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

html {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2 {
  font-family: 'Overpass', sans-serif;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.6875rem;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.125rem;
  font-weight: 600;
  letter-spacing: 0.84px;
}

p {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.burger {
  display: block;
}

.burger div {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.change {
  transition: 0.8s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.btn {
  display: inline-block;
  background-color: white;
  width: 8.5625rem;
  padding: 0.6875rem 0 1.1875rem 0;
  color: #FF505C;
  font-weight: bold;
  border-radius: 28px;
}

.btn:hover {
  width: 9.375rem;
  background-color: #FF7B86;
  color: white;
  transition: 1s;
}

.btn:focus {
  width: 9.375rem;
  outline: none;
  background-color: #FF7B86;
  color: white;
  transition: 1s;
}

.btn--lt {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.btn--lt:hover {
  background-color: white;
  color: #FF7B86;
}

.btn--lt:focus {
  background-color: white;
  color: #FF7B86;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 6.4%;
  padding-top: 3.5rem;
}

header {
  position: relative;
  background: transparent linear-gradient(148deg, #FF8F71 0%, #FF3E55 100%) 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 0px 100px;
  text-align: center;
  padding-bottom: 9.75rem;
  overflow: hidden;
  z-index: 5;
}

header::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/bg-pattern-intro.svg");
  background-size: 929px;
  background-position: -17.5rem -12.5rem;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -2;
}

header h1 {
  color: white;
  letter-spacing: -0.0675rem;
  max-width: 18.75rem;
  margin: 6.75rem auto 1.6875rem auto;
}

header p {
  color: white;
  max-width: 20.4375rem;
  margin: 0 auto;
}

header .cta {
  margin: 3.375rem auto 0 auto;
}

header .cta .btn {
  margin-right: 1rem;
}

footer {
  background-color: #24242C;
  color: white;
  text-align: center;
  padding: 4.6875rem 0;
  border-radius: 0px 100px 0px 0px;
}

footer img {
  margin-bottom: 4.53562rem;
}

footer section {
  margin-bottom: 3rem;
}

footer section h2 {
  font-size: 1.125rem;
  line-height: 2.0625rem;
  font-weight: 500;
  margin-bottom: 2.125rem;
}

footer section a {
  font-size: 1.125rem;
  line-height: 2.0625rem;
  font-weight: 400;
  opacity: 0.75;
}

main {
  margin-top: 6.25rem;
  text-align: center;
}

main h2 {
  color: #1F3E5A;
  max-width: 19.875rem;
  margin: 0 auto;
  font-weight: 500;
}

main p {
  color: #4C5862;
  max-width: 19.875rem;
  margin: 1rem auto 0 auto;
}

main .one img {
  margin: 3.3125rem auto 2.875rem auto;
  width: 20.375rem;
}

main .two {
  margin-top: 2.875rem;
}

main .three {
  margin-top: 2.5rem;
}

main .four {
  position: relative;
  margin-top: 6.2775rem;
}

main .four img {
  margin: 0 auto;
  width: 20.4025rem;
}

main .four h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  color: white;
}

main .four p {
  margin-top: 1.75rem;
  color: white;
}

main .four::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100vw;
  height: 625px;
  top: 12.5rem;
  left: 0;
  z-index: -5;
  background: transparent linear-gradient(149deg, #2D2E40 0%, #3F4164 100%) 0% 0% no-repeat padding-box;
  border-radius: 0px 100px;
}

main .four::before {
  border: 2px solid red;
  content: "";
}
/*# sourceMappingURL=main.css.map */