@import 'abstracts/variables';
@import 'abstracts/funtions';

@import 'base/reset';

@import 'components/hamburger';




nav {
    display: flex;
    justify-content: space-between;
    color: $header-text-color;
    background-color: $header-bg-color;
}

