main {
   margin-top: toRem(100); 
   text-align: center;

   h2 {
       color: $heading-text-color;
       max-width: toRem(318);
       margin: 0 auto;
       font-weight: 500;
   }

   p {
       color: $primary-text-color;
       max-width: toRem(318);
       margin: toRem(16) auto 0 auto;
   }

   .one {
       img {
           margin: toRem(53) auto toRem(46) auto;
           width: toRem(326);
       }
   }

   .two {
       margin-top: toRem(46);
   }

   .three {
       margin-top: toRem(40);
   }



   .five {

       img {
           margin: toRem(188) auto toRem(46) auto;
           width: toRem(326);
       }
   }

   .six {
       margin: toRem(40) auto toRem(100) auto; 
   }
 
} 
