


.fifth {
    .img-container {
        width: toRem(326);
        height: toRem(326);
        margin: toRem(79) auto toRem(46) auto;
        background-image: url('../../images/illustration-laptop-mobile.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    p {
        margin: toRem(16) toRem(24) toRem(40) toRem(33);
    }
}

.sixth {
    p {
        margin: toRem(16) toRem(24) toRem(100) toRem(33);
    }
}

.page-container {
    width: 100vw;
    overflow: hidden;
}