.burger {
    display: block;
    
  div {
      @include transition-ease;
      width: 35px;
      height: 5px;
      background-color: $light-text-color;
      margin: 6px 0;
  }      
   
}

.change {
    

    .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .bar2 {
        opacity: 0;
    }
    
    .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }
}