.btn {
    display: inline-block;
    background-color: $btn-bg-color;
    width: toRem(137);
    padding: toRem(11) 0 toRem(19) 0;
    color: $btn-text-color;
    font-weight: bold;
    border-radius: 28px;


    &:hover {
        @include transition-ease;
        width: toRem(150);
        background-color: $btn-active-color;
        color: $btn-bg-color;
        
    }

    &:focus {
        @include transition-ease;
        width: toRem(150);
        outline: none;
        background-color: $btn-active-color;
        color: $btn-bg-color;
    }
}

.btn--lt{
    background-color: $btn-lt-bg-color;
    border: 1px solid $btn-lt-text-color;
    color: $btn-lt-text-color;

    &:hover {
        background-color: $btn-lt-active-color;
        color: $btn-lt-active-txt;
    }

    &:focus {
        background-color: $btn-lt-active-color;
        color: $btn-lt-active-txt;
    }
}