.hamburger {
    display: inline-block;
    cursor: pointer;
    .bar {
        width: 35px;
        height: 5px;
        background-color: $header-text-color;
        margin: toRem(6) 0;
        transition: 0.5s;
    }   
}

.change {
    .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .bar2 {
        opacity: 0;
    }

    .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }
}