footer {
    background-color: $footer-background-color;
    border-radius: 0 100px 0 0;
    text-align: center;
    padding-top: toRem(75);
    padding-bottom: toRem(75);

    @include media-md {
        text-align: left;
        display: grid;
        grid-template-columns: auto auto;
        padding-top: toRem(70);
        padding-left: toRem(136);
        padding-bottom: toRem(70);
    }

    @include media-lg {
        grid-template-columns: auto auto auto auto;
    }

    h2 {
       @include ubuntu(18, 33, 500);
       color: $footer-text-color; 

       @include media-md {
           @include ubuntu(15, 33, 500);
           text-align: left;
       }
    }

    ul {
        margin-top: toRem(34);
        margin-bottom: toRem(40);

        @include media-md {
            margin-top: toRem(39);
        }
    }

    a {
        @include ubuntu(18, 33, 400);
        color: $footer-text-color;
        opacity: 0.75;

        @include media-md {
            @include ubuntu(15, 33, 400);
        }
    }

    .one {
        margin-top: toRem(72.75);

        @include media-md {
            margin-top: 0;
        }
    }
}