.grid--1 {
    @include media-md {
        .one {
            grid-area: one;

            h2 {
                @include textFormat(40, 48, 600);
                letter-spacing: -1.2px;
                max-width: 100%;
                margin-top: toRem(150);
                margin-bottom: toRem(114);
            }
            
            img {
                width: toRem(600);
            }
        }

        h2 { 
            max-width: toRem(500);
        }

        p {
            max-width: toRem(500);
        }
    }

    @include media-lg {
        display: grid;
        grid-template-areas: 'one one' 'two img' 'three img' '. img';
        overflow: hidden;

        .one {
            img {
                display: none;
            }
        }
        

        h2{
            max-width: toRem(700);
        }

        p {
            max-width: toRem(700);
        }
    
        .two {
            grid-area: two;
            text-align: left;
            
            
        }
    
        .three {
            grid-area: three;
            text-align: left;
            
        }
    
        .img-desktop {
            display: inline-block;
            margin-right: toRem(-650);
            margin-top: toRem(-175);
            grid-area: img;
        }
    }

    @include media-xl {
        max-width: 1600;
        margin: 0 auto;
    }
    
}

.img-desktop {
    display: none;
}