header {
    padding-bottom: toRem(156);
    background: url('../images/bg-pattern-intro.svg'), $cta-gradient;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px 0px 0px 100px;

    @include media-md {
        border-radius: 0;
    }
    

    h1 {
        @include overpass(36, 43, 500);
        text-align: center;
        letter-spacing: -1.08px;
        color: $header-text-color;

        @include media-md {
            @include overpass(52, 64, 500);
        }

        @include media-lg {
            @include overpass(64, 77, 500);
            letter-spacing: -1.92px
        }
    }

    p {
        @include overpass(18, 22, 400);
        text-align: center;
        margin-top: toRem(27);
        color: $header-text-color;

        @include media-md {
            @include overpass(20, 24, 400);
            margin-top: toRem(32);
        }
    }

    .button-container {
        margin-top: toRem(54);
        text-align: center;
        
        button {
            margin-right: toRem(32);

            @include media-md {
                margin-right: toRem(16);
            }
        }
    }
}