nav {
    
    display: flex;
    justify-content: space-between;
    margin: 0 6.4%;
    padding-top: toRem(56);

    @include media-md {
        align-items: center;
        justify-content: left;
        .burger {
            display: none;
        }
    }

    @include media-lg {
        margin: 0 11.6%;
        padding-top: toRem(63);
    }

    @include media-xl {
        max-width: 1600px;
        margin: 0 auto;
    }
    
}

.nav-menue {
    display: none;
    position: absolute;
    right: 0;
    top: toRem(125);
    width: toRem(324);
    margin: 0 6.4%;
    text-align: center;
    padding-top: toRem(24);
    padding-bottom: toRem(32);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #0000003E;
    border-radius: 5px;  

    &.active {
        display: inline;
    }

    @include media-md {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        right: 0;
        top: 0;
        position: relative;
        background: transparent;
        box-shadow: none;
        padding: 0;
        margin: 0;
        padding-left: toRem(40);
    }

    @include media-lg {
        padding-left: toRem(64.38)
    }

    .menue-cont {
        h2 {
            @include textFormat(18, 28, 600);
            color: #1F3E5A;
            margin-bottom: toRem(34);
    
            @include media-md {
                @include textFormat(16, 18, 700);
                margin: 0;
                margin-right: toRem(25);
                color: white;
            }
            
            @include media-lg {
                margin-right: toRem(32);
            }
    
            &:hover {
                cursor: pointer;
                color: $light-red;
    
                @include media-md {
                    color: white;
                    text-decoration: underline;
                }
            }
    
           
        }
        @include media-md {
            display: flex; 
        }
    }
    
    

    

    .arrow {
        display: inline-block;
        width: toRem(10);
        height: toRem(10);
        margin-left: toRem(10);
        margin-bottom: toRem(-7);
        background-image: url('../images/icon-arrow-dark.svg');
        background-repeat: no-repeat;

        @include media-md {
            background-image: url('../images/icon-arrow-light.svg');
            margin-left: 0;
        }
    }

    

    ul {
        display: none;
        background: hsla(237, 17%, 21%, 0.08);
        border-radius: 5px;
        margin: 0 toRem(24);
        padding-top: toRem(17);
        padding-bottom: toRem(37);

        @include media-md {
            top: toRem(50);
            position: absolute;
            width: toRem(168);
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 20px 40px #0000003E;
            border-radius: 5px;
        }

        li {
            margin-bottom: toRem(24);

            a {
                color: hsla(208, 49%, 24%, 0.75); 

                &:hover {
                color: #2D2E40; 
                }
            }
        }
    }

    .login {
        border-top: 1px solid hsla(0, 0%, 0%, .09);
        margin: toRem(24);

        @include media-md {
            border: none;
            margin: 0;
            display: flex;
            align-items: center;
        }

        h2 {
            margin-top: toRem(25);
            @include textFormat(18, 28, 600);
            color: #1F3E5A;
            margin-bottom: toRem(34);
    
            @include media-md {
                @include textFormat(16, 18, 700);
                margin: 0;
                margin-right: toRem(25);
                color: white;
            }

            @include media-md {
                margin: 0;
                margin-right: toRem(32);
            }

        }

        .btn {
            @include textFormat(16, 18, 700);
        }

        
    }

    .open {
        .arrow {
            transform: rotate(180deg);
        }

        ul {
            display: block;
        }
    }

}


