.fourth {
    .img-container{
        position: relative;
        width: toRem(326.44);
        height: toRem(345.25);
        margin-bottom: toRem(-172.63);
        background-color: transparent;
        background: url('../images/illustration-phones.svg');
        background-size: cover;
        background-position: center;
        z-index: 5;

        @include media-lg {
            margin-bottom: toRem(-500);
            margin-left: toRem(100);
            width: toRem(475);
            height: toRem(575);
        }
    }

    .content-container {
        padding-top: toRem(221);
        padding-bottom: toRem(109);
        background: $background-grad;
        border-radius: 0px 100px;
        overflow: hidden;

        @include media-lg {
            padding-top: toRem(111);
            padding-bottom: toRem(111);
            
        }
        
        

        h2 {
            @include overpass(40, 48, 500);
            letter-spacing: -1.2px;
            color: $header-text-color; 
            
            @include media-lg {
                text-align: left;
                margin-left: 50%;

            }
        }

        p {
            margin: toRem(28) toRem(24) 0 toRem(33);
            color: $header-text-color;
            
            @include media-lg {
                text-align: left;
                margin: 0;
                margin-left: 50%;
                max-width: toRem(530);
            }
        }
    } 

    .content-container::after {
        content: "";
        position: relative;
        margin-top: toRem(-513);
        width: 100%;
        height: toRem(602);
        display: inline-block;
        position: relative;
        background: url('../images/bg-pattern-circles.svg'), transparent;
        background-size: cover;
        background-position: center toRem(-302);
        background-repeat: no-repeat;

        @include media-md {
            // background-size: contain;
            background-position: center toRem(-575);
        }
        
        @include media-lg {
            background-position: toRem(-250) toRem(-400);
            background-size: 75%;
        }
    }
}