// Primary
$red: #B3000C;
$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue: hsl(208, 49%, 24%);

// Neutral 
$white: hsl(0, 0%, 100%);
$grayish-blue: hsl(240, 2%, 79%);
$very-dark-grayish-blue: hsl(207, 13%, 34%);
$very-dark-black-blue: hsl(240, 10%, 16%);

//Gradients
$cta-gradient: linear-gradient(148deg, #FF8F71 0%, #FF3E55 100%);
$background-grad: linear-gradient(149deg, hsl(237, 17%, 21%),hsl(237, 23%, 32%) );

$header-text-color: $white;
$cta-text-color: $red;
$cta-hover-color: $very-light-red;

$heading-text-color: $very-dark-blue;
$body-text-color: $very-dark-grayish-blue;

$footer-text-color: $white;
$footer-background-color: $very-dark-black-blue;

