
//colors
$orange: #FF8F71;
$very-light-red: #FF7B86;
$light-red: #FF505C;
$red: #FF3E55;
$gray: #4C5862;
$dark-gray-blue: #1F3E5A;
$very-dark-blue: #24242C;

//header
$header-bg-color: $orange;

//buttons 
$btn-bg-color: white;
$btn-text-color: $light-red;
$btn-active-color: $very-light-red;

$btn-lt-bg-color: transparent;
$btn-lt-text-color: white;
$btn-lt-active-color: white;
$btn-lt-active-txt: $very-light-red;

//text
$light-text-color: white;
$heading-text-color: $dark-gray-blue;
$primary-text-color: $gray;


//footer
$footer-bg-color: $very-dark-blue;